@import "tailwindcss";

@theme {
  --color-blue-default: #06b6d4;

  --color-purple-default: #9747ff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  @apply text-slate-100;
}

body {
  @apply bg-slate-900;
}

.custom-gradient {
  background: linear-gradient(
    90deg,
    #06b6d4,
    #9747ff 25%,
    #9747ff 25%,
    #06b6d4
  );
  background-size: 400% 100%;
  background-position: 0% 50%;
  transition: all 300ms ease-in-out;
}

.custom-gradient:hover {
  background-position: 50% 100%;
  box-shadow: #06b6d475 0 0 15px;
}

.custom-gradient-infinit {
  background: linear-gradient(
    90deg,
    #06b6d4,
    #9747ff 25%,
    #9747ff 25%,
    #06b6d4
  );
  background-size: 400% 100%;
  animation: bg-animate infinite 5s ease;
}

@keyframes bg-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
